//left content

.landing {
  padding: 5rem 0 0 5rem;
  display: flex;
  h1 {
    font-size: 2.7rem;
    width: 22rem;
    color: $text;
    font-family: "Open Sans", sans-serif;
  }
  h2 {
    padding-top: 2.5rem;
    padding-bottom: 4rem;
    color: $text;
    font-weight: 400;
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
    width: 100vh;
  }
}

//Buy button

.btn {
  padding: 0.6rem 0 0.6rem 2rem;
  border: 3px solid #fff;
  text-align: center;
  color: $buttons-bg;
  &:hover {
    background: rgba(105, 11, 255, 0.1);
    transition: 0.5s ease;
  }
  .arrow-i {
    padding: 0 1.7rem 0 2.5rem;
  }
}
